<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>제품리뷰 관리자페이지</title>
</head>
<body>
<ul>
	<li><a href="/craw/list">크롤링키워드목록</a></li>
	<li><a href="/craw/naver">전체크롤링</a></li>
	<li><a href="/craw/clear">크롤링데이터 정리</a></li>
</ul>
<h1>네이버 크롤링 하기</h1>
<hr/>
<form id="frm" style="margin-bottom:5px">
	<select name="keyword">
	    {{#keywords}}
			<option value="{{keyword}}">{{keyword}}</option>
		{{/keywords}}
	</select>
</form>
<button onclick="crawNaver()">크롤링시작</button>
<script>
	function crawNaver(){
		let data = $("#frm").serialize();
		console.log(data);
		 
		fetch("/craw/naver/proc",{
			method: "post",
			body: data,
			headers: {
				'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8'
			}
		}, 120000).then(function(resp){
			return resp.text();
		}).then(function(resp){
			console.log(resp);
			alert(resp);
		});
		
	}
</script>
</body>
</html>